*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
}

section{
    margin: 50px 0 0 25px;
    display: flex;
}

.leaderboard{
    height: 80vh;
    width: 300px;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
}

h2{
    margin-top: 10px;
}


/* game interface JS*/
/* .game{
    height: 80vh;
    width: 100%;
    margin: 0 100px;
    border: solid 1px black;
    border-radius: 10px;
} */

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin: 0 100px;
}

.play-btn{
    font-size: 85px;
    padding: 40px 60px;
    font-family: 'Poller One', cursive;
    border: none;
    border-radius: 15px;
    background: rgb(200,42,14);
    background: radial-gradient(circle, rgba(200,42,14,1) 46%, rgba(140,40,24,1) 95%);
}

.play-btn:hover{
    background: rgb(230,43,9);
    background: radial-gradient(circle, rgba(230,43,9,1) 0%, rgba(200,42,14,1) 100%);
}