*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    align-items: center;
}

nav{
    background: linear-gradient(to right, rgb(230,43,9) 0%, rgb(200,42,14) 60%, rgb(140,40,24) 100%);
}

nav a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

#flex-container{
    height: 120px;
    display: flex;
}
#flex-container > li:nth-child(2), li:nth-child(3){
    margin: 0 50px;
}

#flex-container > li:nth-child(2){
    margin-left: auto;
}

#logo-el{
    padding-left: 30px;
}

#logo{
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.user-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
