REQUIREMENTS FOR THE BOT TO WORK :

discord
discord.ext
sqlite3
random
requests


and a config.py with :

a list called DEV_ID with the id of the bot owner
RE_TOKEN with the token of the bot
DEV_TOKEN with the token of the dev bot
BLACKLIST with the id of the blacklisted users
DEVMODE (True or False) to activate the dev mode


Launching the script for the first time will create a database called botus.db